<div class="doctor-list container-fluid row">
  <div class="doctor-item col-lg-3" *ngFor="let item of data">
    <div class="doctor-item__avt">
      <img [src]="item.avt" alt="">
    </div>
    <div class="doctor-item__name">
      <label>{{ item.name }}</label>
    </div>
    <div class="doctor-item__address">
      <label>{{ item.address }}</label>
    </div>
    <div class="doctor-item__position">
      <label>{{ item.position }}</label>
    </div>
    <div class="doctor-item__phone">
      <label>Phone: <span>{{ item.phone }}</span></label>
    </div>
    <div class="doctor-item__email">
      <label>Email: <span>{{ item.email }}</span></label>
    </div>
  </div>
</div>
